:root {
    --main-color: #FFFFFF;
    --secondary-color: #FFFFFFBF;
    --background-1: #282C34;
    --background-2: #4c5c96;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", Helvetica, sans-serif;
}

body {
    background-color: var(--background-1);
    color: var(--main-color);
    padding: 2rem 1rem;
}

button:hover {
    cursor: pointer;
}

/* MAIN */

main {
    text-align: center;
}

main h1 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

main span {
    font-weight: 600;
}

main p {
    margin-bottom: 2rem;
    padding: 0 1rem;
    color: var(--secondary-color);
}

main button {
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 0;
    border-radius: .25rem;
    margin: none;
}