:root {
    --main-text: #FFFFFF;
    --secondary-text: #DCDCDC;
    --main-back: #282C34;
    --secondary-back: #4c5c96;
    --accent: #414a65;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", Helvetica, sans-serif;
}

body {
    background-color: var(--main-back);
    color: var(--main-text);
}

h1, h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0 2rem;
}

p {
    color: var(--secondary-text);
    margin-bottom: 1rem;
}

button {
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 0;
    border-radius: .25rem;
    border: 2px solid var(--accent);
    outline: none;
    background-color: transparent;
    color: var(--secondary-text);
}

button:hover {
    background-color: var(--accent);
    color: var(--main-text);
    cursor: pointer;
}

.container {
    padding: 2rem 1rem;
}

.bold {
    font-weight: 600;
}

.divider-1 {
    background-image: linear-gradient(to right bottom, var(--main-back) 49%, var(--secondary-back) 50%);
    height: 2rem;
}

.divider-2 {
    background-image: linear-gradient(to right top, var(--main-back) 49%, var(--secondary-back) 50%);
    height: 2rem;
}

.hidden {
    display: none;
}

/* MAIN */

main {
    text-align: center;
}

main p {
    color: var(--secondary-text);
    margin-bottom: 2rem;
    padding: 0 1rem;
}

/* SERVICES */

.pitch {
    background-color: var(--secondary-back);
}

/* MY-WORK */

.work-buttons {
    margin-top: 2rem;
}